body{
    background-color: rgb(40, 40, 40);
    
    .container-logo {
        position: fixed;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        // margin-left: 1em;
        img{
            width: 100px;
            height: 100px;
        }
        #burger {
            display: none;
            color: black;
            font-size: 34px;
        }
        @media screen and (max-width: 768px){
            #burger{
                display: block;
            }
        }
        @media screen and (max-width: 425px){
            #burger{
                display: block;
            }
        }

    }
    .container-nav{
        background-color: rgb(40, 40, 40);
        border-bottom: 1px solid $red;
        display: flex;
        height: 10vh;
        // position: absolute;
        width: 100vw;
        z-index: 2;


        div:nth-child(1){
            width: 67%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: 5em;
            ul{
                display: flex;
                text-align: center;
                li{
                    height: 6em;
                    width: 17em;
                    border-right: 1px solid rgb(50, 50, 50);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a{
                        position: relative;
                        font-family: 'Roboto';
                        color: white;
                        list-style: none;
                        text-decoration: none;
                        font-size: 30px;
                    }
                    a:active{
                        border-bottom: 1px solid $red;
                        color: $red;
                    }
                    a::after{
                        content: '';
                        position: absolute;
                        background-color: white;
                        height: 2px;
                        width: 0%;
                        bottom: 0px;
                        left: 0px;
                        transition: all 0.4s ease-in-out;
                    }
                    @media screen and (max-width: 1440px){
                        a{
                            font-size: 27px;
                        }
                    }
                    @media screen and (max-width: 1024px){
                        a{
                            font-size: 22px;
                        }
                    }
                }
                
                @media screen and (max-width: 1440px){

                    li{
                        height: 5em;
                        width: 13em;
                    }
                }
                @media screen and (max-width: 1024px){

                    li{
                        width: 7em;
                    }
                }

                li:hover a::after{
                    color: red;
                    background-color:$red;
                    width: 100%;
                }
                li:hover {
                    background-color: rgb(50, 50, 50);
                }
            }
        }
        @media screen and (max-width: 1440px){
            div:nth-child(2){
                margin-left: 2em;
            }
        }
        @media screen and (max-width: 425px){
            div:nth-child(2){
                margin-left: 0em;
            }
        }

    }
    @media screen and (max-width: 768px){
        .container-logo {
            display: flex;
            flex-direction: column;
            i:nth-child(2){
                color: black;
                font-size: 20px;
                height: 12px;
            }
            p:nth-child(3){
                font-size: 18px;
                font-family: 'Roboto';
            }
        }
        .container-nav {
            position: fixed;
            display: flex;
            flex-direction: column;
            width: 100vw;
            height: auto;
            display:none;
            div:nth-child(1){
                width: 100%;
                margin-left: 0px;
                ul{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    li{
                        width: 100%;
                        height: 6em;
                        border: none;
                        border-bottom: 1px solid $red;
                    }
                    li:active{
                        background-color: rgb(60, 60, 60);
                    }
                }
            }
            .container-nav-bis{
                display: flex;
                justify-content: center;
                height: 4em;
                // flex-direction: column;
                
            }
        }
    }
    #bg-img{
        height: 100vh;
        width: 100%;
        background-image: url(../img/hebus_1920x1080_1615551537_2243.jpg);
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        .container-home{
            border-radius: 10px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 30em;
            width: 40em;
            #logo-nn {
                background-image: url(../img/LogoNNCouleur.png);
                width: 25em;
                height: 25em;
            }
            h1:nth-child(2){
                color: white;
                font-family: 'Roboto';
                font-size: 40px;
            }
        }
        @media screen and (max-width: 425px){
            text-align: center;
        }
    }

    .container-nav-bis {
        
        display: flex;
        align-items: center;
        
        #register{
            margin-left: 1.5em;
            font-family: 'Roboto';
            font-size: 20px;
            background-color: rgb(40, 40, 40);
            margin-right: 4px;
            a{
                color: white;
                outline: none;
                text-decoration: none;
            }
        }
        #register:hover{
            a{
                color:$red;
            }
        }
        @media screen and (max-width: 425px){
            #register {
                margin-left: 0;
            }
        }
        #login{
            font-family: 'Roboto';
            background-color: white;
            height: 2em;
            width: 9em;
            font-size: 20px;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            a{
                outline: none;
                text-decoration: none;
                color: black;
            }
        }
        #login:hover {
            background-color: rgb(40, 40, 40);
            border:1px solid white;
            a{
                color: white;
            }
        }
        #login:active {
            background-color: $red;
            border:1px solid rgb(40, 40, 40);
            a{
                color: rgb(40, 40, 40);
            }
        }
        @media screen and (max-width: 1440px){
            #login{
                margin-right: 20px;
            }
        }
        // @media screen and (max-width: 425px){
        //     #login{
        //         width: 12em;
        //     }
        // }
        a {
            i{
                color: white;
                margin-right: 5px;
                font-size: 20px;
            }
            i:hover{
                color: $red;
            }
        }
        
        p:nth-child(2) {
            font-family: 'Roboto';
            color: white;
            margin-right: 1em;
        }
        
        #logout{
            font-family: 'Roboto';
            background-color: white;
            border: 1px solid white;
            height: 2em;
            width: 7em;
            font-size: 20px;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            
            a{
                outline: none;
                text-decoration: none;
                color: black;
            }
        }
        #logout:hover{
            background-color: rgb(40, 40, 40);
            border: 1px solid white;
            a{
                color: white;
            }
        }
        #logout:active {
            background-color: $red;
        }
        
        #profil{
            font-family: 'Roboto';
            background-color: white;
            border: 1px solid white;
            height: 2em;
            width: 6em;
            font-size: 20px;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            
            a{
                outline: none;
                text-decoration: none;
                color: black;
            }
        }
        #profil:hover{
            background-color: rgb(40, 40, 40);
            border: 1px solid white;
            a{
                color: white;
            }
        }
        #profil:active {
            background-color: $red;
        }
    }

}