body{
    .container-logo {
        position: fixed;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        margin-left: 1em;
        img{
            width: 100px;
            height: 100px;
        }
        i {
            font-size: 30px;
            margin-top: 1.2em;
        }
        p{
            font-size: 24px;
            font-family: 'Poppins';
        }
    }
    .container-nav{
        background-color: rgb(50, 50, 50);
        border-bottom: 1px solid $red;
        display: flex;
        height: 10vh;
        position: absolute;
        width: 100vw;

        div:nth-child(1){
            width: 67%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: 5em;
            ul{
                display: flex;
                text-align: center;
                li{
                    width: 20em;
                    border: 1px solid rgb(50, 50, 50);
                    a{
                        position: relative;
                        font-family: 'Poppins';
                        color: white;
                        list-style: none;
                        text-decoration: none;
                        font-size: 30px;
                    }
                    a:active{
                        border-bottom: 1px solid $red;
                    }
                    a::after{
                        content: '';
                        position: absolute;
                        background-color: white;
                        height: 2px;
                        width: 0%;
                        bottom: 0px;
                        left: 0px;
                        transition: all 0.4s ease-in-out;
                    }

                }
                li:hover a::after{
                    color: red;
                    background-color:$red;
                    width: 100%;
                }
            }
        }
    }

    #bg-img{
        height: 100vh;
        width: 100%;
        background-image: url(../img/hebus_1920x1080_1615551537_2243.jpg);
        display: flex;
        justify-content: center;
        align-items: center;

        .container-home{
            border-radius: 10px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 30em;
            width: 40em;
            #logo-nn {
                background-image: url(../img/LogoNNCouleur.png);
                width: 25em;
                height: 25em;
            }
            h1:nth-child(2){
                color: white;
                font-family: 'Poppins';
                font-size: 40px;
            }
        }
    }

    div:nth-child(2) {

        display: flex;
        align-items: center;
        
        #register{
            margin-left: 1.5em;
            font-family: 'Poppins';
            font-size: 20px;
            background-color: rgb(50, 50, 50);
            margin-right: 4px;
            a{
                color: white;
                outline: none;
                text-decoration: none;
            }
        }
        #login{
            font-family: 'Poppins';
            background-color: white;
            height: 2em;
            width: 6em;
            font-size: 20px;
            margin-right: 10px;
            a{
                outline: none;
                text-decoration: none;
                color: black;
            }
        }
        #login:active {
            background-color: $red;
        }

        a {
            i{
                color: white;
                margin-right: 5px;
                font-size: 20px;
            }
            i:hover{
                color: $red;
            }
        }

        p:nth-child(2) {
            font-family: 'Poppins';
            color: white;
            margin-right: 1em;
        }
        
        #logout{
            font-family: 'Poppins';
            background-color: white;
            height: 2em;
            width: 7em;
            font-size: 20px;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                outline: none;
                text-decoration: none;
                color: black;
            }
        }
        #logout:active {
            background-color: $red;
        }
        
        #profil{
            font-family: 'Poppins';
            background-color: white;
            height: 2em;
            width: 6em;
            font-size: 20px;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                outline: none;
                text-decoration: none;
                color: black;
            }
        }
        #profil:active {
            background-color: $red;
        }


    }
}