body{
    .container-nav{
        background-color: rgb(50, 50, 50);
        border-bottom: 1px solid rgb(144, 19, 19);
        display: flex;

        .container-logo {
            width: 150px;
            display: flex;
            justify-content: center;
            img{
                width: 100px;
                height: 100px;
            }
        }
        div:nth-child(2){
            width: 67%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            ul{
                display: flex;
                text-align: center;
                li{
                    width: 20em;
                    border: 1px solid rgb(50, 50, 50);
                    a{
                        position: relative;
                        font-family: 'Poppins';
                        color: white;
                        list-style: none;
                        text-decoration: none;
                        font-size: 30px;
                    }
                    a:active{
                        border-bottom: 1px solid rgb(144, 19, 19);
                    }
                    a::after{
                        content: '';
                        position: absolute;
                        background-color: white;
                        height: 2px;
                        width: 0%;
                        bottom: 0px;
                        left: 0px;
                        transition: all 0.4s ease-in-out;
                    }

                }
                li:hover a::after{
                    color: red;
                    background-color: rgb(144, 19, 19);
                    width: 100%;
                }
            }
        }
    }

    #bg-img{
        height: 90vh;
        width: 100%;
        background-image: url(../img/hebus_1920x1080_1615551537_2243.jpg);
    }

    div:nth-child(3) {

        display: flex;
        align-items: center;
        
        #register{
            margin-left: 1.5em;
            font-family: 'Poppins';
            font-size: 20px;
            background-color: rgb(50, 50, 50);
            margin-right: 4px;
            a{
                color: white;
                outline: none;
                text-decoration: none;
            }
        }
        #login{
            font-family: 'Poppins';
            background-color: white;
            height: 2em;
            width: 6em;
            font-size: 20px;
            margin-right: 10px;
            a{
                outline: none;
                text-decoration: none;
                color: black;
            }
        }
        #login:active {
            background-color: rgb(144, 19, 19);
        }

        p:nth-child(1) {
            font-family: 'Poppins';
            color: white;
            margin-right: 1em;
        }
        
        #logout{
            font-family: 'Poppins';
            background-color: white;
            height: 2em;
            width: 7em;
            font-size: 20px;
            margin-right: 10px;
            a{
                outline: none;
                text-decoration: none;
                color: black;
            }
        }
        #logout:active {
            background-color: rgb(144, 19, 19);
        }
        
        #profil{
            font-family: 'Poppins';
            background-color: white;
            height: 2em;
            width: 6em;
            font-size: 20px;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            a{
                outline: none;
                text-decoration: none;
                color: black;
            }
        }
        #profil:active {
            background-color: rgb(144, 19, 19);
        }


    }
}