#bg-img-join{
    background-image: url(../img/thumb-1920-553248.jpg);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container-join {
        width: 50%;
        height: 70%;
        background-color: rgba(60,60,60,0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4em;
        border-radius: 20px;
        
        h2{
            color: white;
            font-size: 44px;
            font-family: 'Roboto';
            margin-bottom: 2em;
            background-color: #1C1C1C;
            width: 40%;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }
        @media screen and (max-width:1440px){
            h2{
                font-size: 36px;
            }
        }
        @media screen and (max-width:1024px){
            h2{
                font-size: 26px;
            }
        }
        @media screen and (max-width:768px){
            h2{
                width: 55%;
            }
        }
        @media screen and (max-width:425px){
            h2{
                width: 60%;
            }
        }
        p {
            color: white;
            font-size: 18px;
            font-family: 'Poppins';
            line-height: 2em;
            text-shadow: 2px 2px 2px #000000;

        }
        p:nth-child(2){
            margin-bottom: 1em;
        }
        p:nth-child(4){
            margin-top: 4em;
            color: white;
            font-size: 18px;
            font-family: 'Roboto';
            // margin-bottom: 2em;
            background-color: $red;
            width: 35%;
            height: 8%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            text-shadow: 2px 2px 2px #000000;

            #discord{
                margin-left: 0.3em;
                margin-right: 0.3em;
                text-decoration: none;
                color: black;
            }
        }
        @media screen and (max-width: 1440px){
            p:nth-child(4){
                width: 47%;
            }
        }
        @media screen and (max-width: 1024px){
            p:nth-child(4){
                width: 61%;
            }
        }
        @media screen and (max-width: 768px){
            p:nth-child(4){
                width: 85%;
            }
        }
        @media screen and (max-width: 425px){
            p:nth-child(4){
                width: 95%;
            }
        }
    }
    @media screen and (max-width:425px){
        .container-join{
            padding: 1em;
            width: 80%;
            margin-top: 4em;
        }
    }
}

@media screen and (max-width:425px){
    #bg-img-join{
        height: 100vh;

    }
}