{% extends 'base.html.twig' %}

{% block title %}NewName RP{% endblock %}

{% block body %}
{% include "common/_navbar.html.twig" %}
<section class="qsn">
    <div class="container-grey">
        <div class="container-qsn">
            <h2>Qui sommes nous ?</h2>
            <p>NewName RP est un nouveau serveur whitelist (+18).  
    
                C'est un serveur ayant une économie dure mais réaliste qui est tourné vers l'interaction entre les joueurs. 
    
                La vie civile est le cœur de notre serveur, c'est pourquoi nous attachons une forte importance à ce qu'elle soit dynamique et ponctuée d'événements. 
                
                Quant aux services publics  et groupes criminels se sont nos poumons.
                
                "Tout ce qui peut se faire en RP doit se faire en jeu"         
                
                L'intégration des joueurs débutants est un de nos chevaux de bataille, c'est pourquoi nous avons tout mis en place afin d'accueillir et accompagner au mieux les nouveaux joueurs de GTA RP dans cette nouvelle expérience.</p>
        </div>
        <div class="container-factions">
            <h2>Les Factions</h2>
            <p>Le serveur comprend différentes Factions tel que des organisations criminels et gang mais aussi des entreprises civil tel que des restaurants, des garages, ect... Mais aussi des services publics tel que le LSMS (Los Santos Medical Services), les pompiers et le LSPD (Los Santos Police Department).

            Parmis les factions de gang, Nous avons les Families, Les Ballas, les Vagos ect... avec chacun sa propre identité vestimentaire ainsi qu'un code couleur dans leurs tenues (Exemple : Vert pour les Families).
            </p>
        </div>
        <div class="container-event">
            <h2>Les Events</h2>
            <p>Pour les joueurs ayant préféré une vie civil, il est possible de participer à divers evennements organisé par d'autres joueurs (Organisation civil B.Event) Vous pourrez y trouver des matchs de boxe ou MMA, des courses de vélo, de voiture ou motos et plein d'autres choses ! Venez vous amuser !</p>
        </div>
    </div>
</section>
{% endblock %}