@font-face {
  font-family: "Poppins";
  src: url(../font/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-Regular.ttf);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #282828;
}
body .container-logo {
  position: fixed;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
body .container-logo img {
  width: 100px;
  height: 100px;
}
body .container-logo #burger {
  display: none;
  color: black;
  font-size: 34px;
}
@media screen and (max-width: 768px) {
  body .container-logo #burger {
    display: block;
  }
}
@media screen and (max-width: 425px) {
  body .container-logo #burger {
    display: block;
  }
}
body .container-nav {
  background-color: #282828;
  border-bottom: 1px solid #AE2525;
  display: flex;
  height: 10vh;
  width: 100vw;
  z-index: 2;
}
body .container-nav div:nth-child(1) {
  width: 67%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 5em;
}
body .container-nav div:nth-child(1) ul {
  display: flex;
  text-align: center;
}
body .container-nav div:nth-child(1) ul li {
  height: 6em;
  width: 17em;
  border-right: 1px solid #323232;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container-nav div:nth-child(1) ul li a {
  position: relative;
  font-family: "Roboto";
  color: white;
  list-style: none;
  text-decoration: none;
  font-size: 30px;
}
body .container-nav div:nth-child(1) ul li a:active {
  border-bottom: 1px solid #AE2525;
  color: #AE2525;
}
body .container-nav div:nth-child(1) ul li a::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 2px;
  width: 0%;
  bottom: 0px;
  left: 0px;
  transition: all 0.4s ease-in-out;
}
@media screen and (max-width: 1440px) {
  body .container-nav div:nth-child(1) ul li a {
    font-size: 27px;
  }
}
@media screen and (max-width: 1024px) {
  body .container-nav div:nth-child(1) ul li a {
    font-size: 22px;
  }
}
@media screen and (max-width: 1440px) {
  body .container-nav div:nth-child(1) ul li {
    height: 5em;
    width: 13em;
  }
}
@media screen and (max-width: 1024px) {
  body .container-nav div:nth-child(1) ul li {
    width: 7em;
  }
}
body .container-nav div:nth-child(1) ul li:hover a::after {
  color: red;
  background-color: #AE2525;
  width: 100%;
}
body .container-nav div:nth-child(1) ul li:hover {
  background-color: #323232;
}
@media screen and (max-width: 1440px) {
  body .container-nav div:nth-child(2) {
    margin-left: 2em;
  }
}
@media screen and (max-width: 425px) {
  body .container-nav div:nth-child(2) {
    margin-left: 0em;
  }
}
@media screen and (max-width: 768px) {
  body .container-logo {
    display: flex;
    flex-direction: column;
  }
  body .container-logo i:nth-child(2) {
    color: black;
    font-size: 20px;
    height: 12px;
  }
  body .container-logo p:nth-child(3) {
    font-size: 18px;
    font-family: "Roboto";
  }
  body .container-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    display: none;
  }
  body .container-nav div:nth-child(1) {
    width: 100%;
    margin-left: 0px;
  }
  body .container-nav div:nth-child(1) ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  body .container-nav div:nth-child(1) ul li {
    width: 100%;
    height: 6em;
    border: none;
    border-bottom: 1px solid #AE2525;
  }
  body .container-nav div:nth-child(1) ul li:active {
    background-color: #3c3c3c;
  }
  body .container-nav .container-nav-bis {
    display: flex;
    justify-content: center;
    height: 4em;
  }
}
body #bg-img {
  height: 100vh;
  width: 100%;
  background-image: url(../img/hebus_1920x1080_1615551537_2243.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
body #bg-img .container-home {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 30em;
  width: 40em;
}
body #bg-img .container-home #logo-nn {
  background-image: url(../img/LogoNNCouleur.png);
  width: 25em;
  height: 25em;
}
body #bg-img .container-home h1:nth-child(2) {
  color: white;
  font-family: "Roboto";
  font-size: 40px;
}
@media screen and (max-width: 425px) {
  body #bg-img {
    text-align: center;
  }
}
body .container-nav-bis {
  display: flex;
  align-items: center;
}
body .container-nav-bis #register {
  margin-left: 1.5em;
  font-family: "Roboto";
  font-size: 20px;
  background-color: #282828;
  margin-right: 4px;
}
body .container-nav-bis #register a {
  color: white;
  outline: none;
  text-decoration: none;
}
body .container-nav-bis #register:hover a {
  color: #AE2525;
}
@media screen and (max-width: 425px) {
  body .container-nav-bis #register {
    margin-left: 0;
  }
}
body .container-nav-bis #login {
  font-family: "Roboto";
  background-color: white;
  height: 2em;
  width: 9em;
  font-size: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
body .container-nav-bis #login a {
  outline: none;
  text-decoration: none;
  color: black;
}
body .container-nav-bis #login:hover {
  background-color: #282828;
  border: 1px solid white;
}
body .container-nav-bis #login:hover a {
  color: white;
}
body .container-nav-bis #login:active {
  background-color: #AE2525;
  border: 1px solid #282828;
}
body .container-nav-bis #login:active a {
  color: #282828;
}
@media screen and (max-width: 1440px) {
  body .container-nav-bis #login {
    margin-right: 20px;
  }
}
body .container-nav-bis a i {
  color: white;
  margin-right: 5px;
  font-size: 20px;
}
body .container-nav-bis a i:hover {
  color: #AE2525;
}
body .container-nav-bis p:nth-child(2) {
  font-family: "Roboto";
  color: white;
  margin-right: 1em;
}
body .container-nav-bis #logout {
  font-family: "Roboto";
  background-color: white;
  border: 1px solid white;
  height: 2em;
  width: 7em;
  font-size: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
body .container-nav-bis #logout a {
  outline: none;
  text-decoration: none;
  color: black;
}
body .container-nav-bis #logout:hover {
  background-color: #282828;
  border: 1px solid white;
}
body .container-nav-bis #logout:hover a {
  color: white;
}
body .container-nav-bis #logout:active {
  background-color: #AE2525;
}
body .container-nav-bis #profil {
  font-family: "Roboto";
  background-color: white;
  border: 1px solid white;
  height: 2em;
  width: 6em;
  font-size: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
body .container-nav-bis #profil a {
  outline: none;
  text-decoration: none;
  color: black;
}
body .container-nav-bis #profil:hover {
  background-color: #282828;
  border: 1px solid white;
}
body .container-nav-bis #profil:hover a {
  color: white;
}
body .container-nav-bis #profil:active {
  background-color: #AE2525;
}

.container-form {
  background-color: #282828;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-form h1 {
  font-family: "Roboto";
  font-size: 34px;
  color: white;
  margin-bottom: 1em;
}
.container-form .form-register {
  background-color: #2d2d2d;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 425px) {
  .container-form .form-register form {
    width: 14em;
  }
}
.container-form .form-register .form-birthday {
  color: white;
  font-family: "Poppins";
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-form .form-register .form-birthday select {
  text-decoration: none;
  outline: none;
  border: 1px solid grey;
  background-color: #3c3c3c;
  color: white;
  font-size: 20px;
  font-family: "Poppins";
  width: 5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-right: 0.4em;
}
.container-form .form-register .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20em;
}
.container-form .form-register .form div {
  margin-bottom: 1em;
}
.container-form .form-register .form label {
  font-family: "Poppins";
  color: white;
  margin-top: 0.5rem;
  margin-right: 1rem;
  width: 180px;
  font-size: 22px;
}
.container-form .form-register .form label:nth-child(5) {
  margin-bottom: 1em;
}
.container-form .form-register .form input {
  margin-top: 0.5rem;
  color: white;
  font-family: "Poppins";
  width: 300px;
  height: 25px;
  background-color: #373737;
  border: 0px;
  border-bottom: 1px solid white;
  outline: none;
}
.container-form .form-register .form select {
  width: 300px;
  height: 25px;
}
.container-form .form-register .form-agree {
  margin-bottom: 1em;
}
.container-form .form-register .form-agree label {
  font-family: "Poppins";
  color: white;
  margin-top: 0.5rem;
  margin-right: 1rem;
  width: 180px;
  font-size: 22px;
}
.container-form .form-register .form-agree input {
  height: 20px;
  width: 20px;
}
.container-form .form-register #register-btn {
  font-family: "Poppins";
  font-size: 20px;
  width: 8em;
  height: 2.5em;
  background-color: #373737;
  border: 1px solid white;
  color: white;
}
.container-form .form-register #register-btn:hover {
  background-color: white;
  color: #373737;
  border: 1px solid #464646;
}

.form-login {
  color: white;
  font-size: 22px;
  font-family: "Poppins";
  text-shadow: 2px 2px 2px #000000;
}
.form-login input {
  outline: none;
  border: 0px;
  border-bottom: 1px solid grey;
  background-color: #3c3c3c;
  width: 200px;
  height: 1.8em;
  margin-bottom: 1em;
  margin-left: 1em;
  color: white;
  font-family: "Poppins";
}

#login-btn {
  margin-top: 1em;
  font-family: "Poppins";
  font-size: 20px;
  width: 8em;
  height: 2.5em;
  background-color: #3c3c3c;
  border: 1px solid white;
  color: white;
  text-shadow: 2px 2px 2px #000000;
}

#login-btn:hover {
  background-color: white;
  color: #464646;
  border: 1px solid #464646;
  text-shadow: 2px 2px 2px #000000;
}

#login-btn:active {
  background-color: #AE2525;
  color: white;
  border: none;
  text-shadow: 2px 2px 2px #000000;
}

.container-profil {
  background-color: #282828;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-profil div:first-child {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}
.container-profil div:first-child h2 {
  font-family: "Roboto";
  font-size: 34px;
  color: white;
  text-shadow: 2px 2px 2px #000000;
}
.container-profil .confirm-delete {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  margin-left: 4em;
  margin-bottom: 1em;
  padding: 3em;
  background-color: #3c3c3c;
  width: 24em;
  height: 6em;
  border-radius: 10px;
  border: 1px solid grey;
}
.container-profil .confirm-delete p {
  font-family: "Poppins";
  font-size: 20px;
  color: white;
  width: 100%;
}
.container-profil .confirm-delete div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
}
.container-profil .confirm-delete div:nth-child(2) button {
  outline: none;
  border: 1px solid grey;
  background-color: #414141;
  color: white;
  font-size: 20px;
  font-family: "Poppins";
  width: 4em;
  height: 2em;
}
.container-profil .confirm-delete div:nth-child(2) button:first-child:hover {
  background-color: green;
}
.container-profil .confirm-delete div:nth-child(2) button:nth-child(2):hover {
  background-color: #AE2525;
}
.container-profil .bigcontainer-grey {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 4em;
}
.container-profil .bigcontainer-grey .container-grey {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 4em;
  margin-bottom: 1em;
  padding: 3em;
  background-color: #323232;
  width: 24em;
  height: 6em;
  border-radius: 10px;
}
.container-profil .bigcontainer-grey .container-grey a #icon-edit {
  position: absolute;
  top: 10px;
  left: 445px;
  font-size: 24px;
  color: green;
}
.container-profil .bigcontainer-grey .container-grey a #icon-delete {
  position: absolute;
  top: 10px;
  left: 415px;
  font-size: 24px;
  color: #AE2525;
}
.container-profil .bigcontainer-grey .container-grey a #icon-edit-cars {
  position: absolute;
  top: 10px;
  left: 445px;
  font-size: 24px;
  color: green;
}
.container-profil .bigcontainer-grey .container-grey a #icon-delete-cars {
  position: absolute;
  top: 10px;
  left: 415px;
  font-size: 24px;
  color: #9e0101;
}
.container-profil .bigcontainer-grey .container-grey .add-cars {
  color: green;
  font-size: 30px;
}
.container-profil .bigcontainer-grey .container-grey .add-cars:hover {
  color: #019e01;
}
.container-profil .bigcontainer-grey .container-grey .add-cars:active {
  color: green;
}
.container-profil .bigcontainer-grey .container-grey .add-weapons {
  color: green;
  font-size: 30px;
}
.container-profil .bigcontainer-grey .container-grey .add-weapons:hover {
  color: #019e01;
}
.container-profil .bigcontainer-grey .container-grey .add-weapons:active {
  color: green;
}
.container-profil .bigcontainer-grey .container-grey ul {
  color: white;
  font-family: "Poppins";
  font-size: 22px;
  margin-bottom: 0.1em;
  text-shadow: 2px 2px 2px #000000;
}
.container-profil .bigcontainer-grey .container-grey ul span {
  color: #AE2525;
}
.container-profil .bigcontainer-grey .container-grey ul li {
  color: white;
  font-family: "Poppins";
  font-size: 22px;
  margin-bottom: 0.1em;
  text-shadow: 2px 2px 2px #000000;
}
.container-profil .bigcontainer-grey .container-grey p {
  color: white;
  font-family: "Poppins";
  font-size: 22px;
  margin-bottom: 0.1em;
  text-shadow: 2px 2px 2px #000000;
}
.container-profil .bigcontainer-grey .container-grey p span {
  color: #AE2525;
}
@media screen and (max-width: 1024px) {
  .container-profil .bigcontainer-grey .container-grey {
    padding: 3em;
    width: 18em;
  }
  .container-profil .bigcontainer-grey .container-grey p {
    font-size: 20px;
  }
  .container-profil .bigcontainer-grey .container-grey a #icon-edit {
    left: 345px;
  }
  .container-profil .bigcontainer-grey .container-grey a #icon-delete {
    left: 310px;
  }
}
@media screen and (max-width: 425px) {
  .container-profil .bigcontainer-grey .container-grey {
    margin-left: 1em;
  }
}
@media screen and (max-width: 768px) {
  .container-profil .bigcontainer-grey {
    height: 100vh;
  }
  .container-profil .bigcontainer-grey .container-grey {
    position: static;
  }
  .container-profil .bigcontainer-grey .container-grey a #icon-edit {
    left: 565px;
    top: 40px;
    z-index: 1;
  }
  .container-profil .bigcontainer-grey .container-grey a #icon-delete {
    left: 520px;
    top: 40px;
    z-index: 1;
  }
}
@media screen and (max-width: 425px) {
  .container-profil .bigcontainer-grey {
    margin-top: 15em;
  }
}

.container-popupcars {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.container-form-car > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3c3c3c;
  padding-top: 40px;
  padding-bottom: 20px;
  width: 500px;
  position: relative;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 2px 2px 5px grey;
}
.container-form-car > form .icons-close {
  position: absolute;
  top: 5px;
  left: 475px;
  font-size: 24px;
  color: red;
}
.container-form-car > form .container-elt {
  display: flex;
  justify-content: center;
}
.container-form-car > form .container-elt .label-elt {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  color: white;
  font-size: 24px;
}
.container-form-car > form .container-elt .form-input {
  color: white;
  font-family: "Poppins";
  width: 200px;
  height: 30px;
  background-color: #3c3c3c;
  border: 0px;
  border-bottom: 1px solid white;
  outline: none;
  margin-left: 1em;
}
.container-form-car > form #submit-btn {
  outline: none;
  background-color: #3c3c3c;
  border: 1px solid grey;
  width: 150px;
  height: 40px;
  color: white;
  font-size: 24px;
  font-family: "Poppins";
  margin-top: 1em;
}

.container-popupweapons {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3c3c3c;
  padding-top: 40px;
  padding-bottom: 20px;
  width: 500px;
  position: relative;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 2px 2px 5px grey;
}
#form .icons-close2 {
  position: absolute;
  top: 5px;
  left: 475px;
  font-size: 24px;
  color: red;
}
#form .container-elt {
  display: flex;
  justify-content: center;
}
#form .container-elt .label-elt {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  color: white;
  font-size: 24px;
}
#form .container-elt .form-input {
  color: white;
  font-family: "Poppins";
  width: 200px;
  height: 30px;
  background-color: #3c3c3c;
  border: 0px;
  border-bottom: 1px solid white;
  outline: none;
  margin-left: 1em;
}
#form #submit-btn2 {
  outline: none;
  background-color: #3c3c3c;
  border: 1px solid grey;
  width: 150px;
  height: 40px;
  color: white;
  font-size: 24px;
  font-family: "Poppins";
  margin-top: 1em;
}

.container-form-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-form-edit h1 {
  font-family: "Roboto";
}
.container-form-edit form:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  padding-top: 40px;
  padding-bottom: 20px;
  width: 600px;
  border-radius: 10px;
}
.container-form-edit .form-edit > div {
  color: white;
  font-size: 22px;
  font-family: "Poppins";
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
}
.container-form-edit .form-edit > div input {
  outline: none;
  border: 0px;
  border-bottom: 1px solid grey;
  background-color: #464646;
  width: 200px;
  height: 1.8em;
  margin-bottom: 1em;
  margin-left: 1em;
  color: white;
  font-family: "Poppins";
}
.container-form-edit .form-edit > div select {
  outline: none;
  border: 0px;
  border-bottom: 1px solid grey;
  background-color: #464646;
  width: 200px;
  height: 1.8em;
  margin-bottom: 1em;
  margin-left: 1em;
  color: white;
  font-family: "Poppins";
}
.container-form-edit .form-edit-birthday {
  color: white;
  font-family: "Poppins";
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-form-edit .form-edit-birthday select {
  text-decoration: none;
  outline: none;
  border: 1px solid grey;
  background-color: #464646;
  color: white;
  font-size: 20px;
  font-family: "Poppins";
  width: 5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-right: 0.4em;
}
.container-form-edit #edit-btn {
  font-family: "Poppins";
  font-size: 20px;
  width: 8em;
  height: 2.5em;
  background-color: #464646;
  border: 1px solid white;
  color: white;
}
.container-form-edit #edit-btn:hover {
  background-color: white;
  color: #464646;
  border: 1px solid #464646;
}

#bg-img-join {
  background-image: url(../img/thumb-1920-553248.jpg);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bg-img-join .container-join {
  width: 50%;
  height: 70%;
  background-color: rgba(60, 60, 60, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em;
  border-radius: 20px;
}
#bg-img-join .container-join h2 {
  color: white;
  font-size: 44px;
  font-family: "Roboto";
  margin-bottom: 2em;
  background-color: #1C1C1C;
  width: 40%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
@media screen and (max-width: 1440px) {
  #bg-img-join .container-join h2 {
    font-size: 36px;
  }
}
@media screen and (max-width: 1024px) {
  #bg-img-join .container-join h2 {
    font-size: 26px;
  }
}
@media screen and (max-width: 768px) {
  #bg-img-join .container-join h2 {
    width: 55%;
  }
}
@media screen and (max-width: 425px) {
  #bg-img-join .container-join h2 {
    width: 60%;
  }
}
#bg-img-join .container-join p {
  color: white;
  font-size: 18px;
  font-family: "Poppins";
  line-height: 2em;
  text-shadow: 2px 2px 2px #000000;
}
#bg-img-join .container-join p:nth-child(2) {
  margin-bottom: 1em;
}
#bg-img-join .container-join p:nth-child(4) {
  margin-top: 4em;
  color: white;
  font-size: 18px;
  font-family: "Roboto";
  background-color: #AE2525;
  width: 35%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-shadow: 2px 2px 2px #000000;
}
#bg-img-join .container-join p:nth-child(4) #discord {
  margin-left: 0.3em;
  margin-right: 0.3em;
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 1440px) {
  #bg-img-join .container-join p:nth-child(4) {
    width: 47%;
  }
}
@media screen and (max-width: 1024px) {
  #bg-img-join .container-join p:nth-child(4) {
    width: 61%;
  }
}
@media screen and (max-width: 768px) {
  #bg-img-join .container-join p:nth-child(4) {
    width: 85%;
  }
}
@media screen and (max-width: 425px) {
  #bg-img-join .container-join p:nth-child(4) {
    width: 95%;
  }
}
@media screen and (max-width: 425px) {
  #bg-img-join .container-join {
    padding: 1em;
    width: 80%;
    margin-top: 4em;
  }
}

@media screen and (max-width: 425px) {
  #bg-img-join {
    height: 100vh;
  }
}
#bg-img-soutien {
  background-image: url(../img/853464.jpg);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bg-img-soutien .container-soutien {
  width: 50%;
  height: 70%;
  background-color: rgba(60, 60, 60, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em;
  border-radius: 20px;
}
#bg-img-soutien .container-soutien h2 {
  color: white;
  font-size: 40px;
  font-family: "Roboto";
  margin-bottom: 2em;
  background-color: #1C1C1C;
  width: 60%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
@media screen and (max-width: 1440px) {
  #bg-img-soutien .container-soutien h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 1024px) {
  #bg-img-soutien .container-soutien h2 {
    font-size: 21px;
  }
}
@media screen and (max-width: 768px) {
  #bg-img-soutien .container-soutien h2 {
    width: 82%;
  }
}
#bg-img-soutien .container-soutien p {
  color: white;
  font-size: 18px;
  font-family: "Poppins";
  line-height: 2em;
  text-shadow: 2px 2px 2px #000000;
}
#bg-img-soutien .container-soutien p:nth-child(2) {
  margin-bottom: 1em;
}
#bg-img-soutien .container-soutien p:nth-child(3) {
  margin-bottom: 2em;
}
#bg-img-soutien .container-soutien p:nth-child(4) #paypal {
  text-decoration: none;
  color: #AE2525;
}
@media screen and (max-width: 425px) {
  #bg-img-soutien .container-soutien {
    width: 86%;
    padding: 1em;
    margin-top: 4em;
  }
}

.container-gallery {
  margin-top: 1em;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  background-color: #282828;
}
.container-gallery .img-gallery {
  border: 1px solid black;
  width: 600px;
  height: 350px;
}

@media screen and (max-width: 1440px) {
  .container-gallery {
    grid-template-columns: 3fr 3fr;
    margin-left: 3em;
  }
}
@media screen and (max-width: 1024px) {
  .container-gallery {
    margin-left: 1em;
  }
  .container-gallery .img-gallery {
    width: 450px;
    height: 260px;
  }
}
@media screen and (max-width: 768px) {
  .container-gallery {
    margin-left: 9em;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 425px) {
  .container-gallery {
    margin-left: 0em;
  }
  .container-gallery .img-gallery {
    width: 400px;
    height: 240px;
  }
}

/*# sourceMappingURL=style.css.map */
