{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{% include "common/_navbar.html.twig" %}
<div class="container-form">
    <div class="form-register">
        <h1>Inscription</h1>
        
        {{ form_start(form) }}
            
            <button type="submit">Modifier</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}