<div class="container-footer">
    <div class="container-footer-logo">
        {# <div id="logo-footer"></div> #}
        <img id="logo-footer" src="{{asset('img/LogoNNNoiretblanc.png')}}" alt="">
    </div>
    <div>
        <p>© NewName RolePlay</p>
    </div>
    <div class="social-media">
        <i class="fab fa-twitter-square"><a href="https://twitter.com/NewNameRP"></a></i>
        <i class="fab fa-discord"><a href="https://discord.gg/scSeAfbvfn"></a></i>
    </div>
</div>