<nav class="container-nav">
    <div class="container-logo">
        <img src="{{asset('/img/LogoNN.png')}}" alt="logo newname">
    </div>
    <div>
        <ul>
            <li><a href="#">Communauté</a></li>
            <li><a href="#">Nous rejoindre</a></li>
            <li><a href="#">Nous soutenir</a></li>
            <li><a href="#">Galerie</a></li>
        </ul>
    </div>
    <div>
        <button id="register">S'inscrire</button>
        <button id="login">Log In</button>
    </div>
</nav>