  <div class="container-popupweapons">
    <form id="form">
        <i class="fas fa-times icons-close2"></i>
          <div class="container-elt">
            <label class="label-elt" for="nameInput">Nom de l'arme</label>
            <input id="nameInput" name="name" data-type="name" class="form-input" type="text">
          </div>
        <button id="submit-btn2" class="btn" type="submit">Mettre à jour</button>
      </form>
  </div>